body {
    background-color: #f2aaaa;
    color: #e84a5f;
    font-family: Avenir Next Condensed;
}

h1 {
    color: #900c3f;
}

h3 {
    color: #900c3f;
}

a {
    color: #f4f6ff;
}

hr {
    border: 1px solid #900c3f;
}

ul[class="p"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li[class="s"] a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li[class="s"] a:hover {
    background-color: #555;
    color: white;
  }